.faq-page-container {
    margin-top: 7vh;
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.faq-container {
    height: 100%;
}

.faq-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq-list-item {
    padding: 20px;
}

.faq-item-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.marker {
    margin-right: 10px;
    font-weight: 700;
    font-size: 2rem;
    color: #f6be07;
}

.question-text {
    font-size: min(2.3rem, 3.5vw);
}

.answer-text {
    margin-top: 10px;
    font-size: min(1.5rem, 2.5vw);
    font-style: italic;
}

