.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.homepage-body-container {
    margin-top: 7vh;
    padding: 0;
    display: flex;
    height: 93vh;
    width: 100%;

    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.clock-container {
    margin: 10px 0 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #f6be07;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.countdown-container {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 15vw;

    --shadow-color: 46deg 95% 29%;
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px hsl(var(--shadow-color) / 0.34);
    margin-top: 0 !important;
    text-shadow: var(--shadow-elevation-medium);
}

.text-block {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-body {
    margin: 30px 0 30px 0;
    font-size: max(1vw, 20px);
}

.clock-text {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: max(2vw, 30px);
    text-shadow: none;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: max(2vw, 30px);
}

.text-block ol li {
    list-style-type: none;
    counter-increment: item;
    font-size: max(1vw, 20px);
}

.text-block ol {
    padding: 1.5rem 1.5rem 1.5rem 4em;
}

.text-block ol > * + * {
    margin-top: 1rem;
}

.text-block ::marker {
    content: counters(list-item, '') ': ';
    font-weight: 700;
    font-size: 2rem;
    color: #f6be07;
}

.text-block li span {
    display: block;
}

.text-block li span:first-child {
    font-size: 2.3rem;
}

.text-block li span:last-child {
    font-style: italic;
}

.call-to-action-container {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f6be07;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: min(5rem, 8vw);
    text-align: center;
}

.call-to-action-button {
    margin-top: 10px;
    background-color: red;
    padding: 25px;
    font-size: min(2rem, 3vw);
    transition: all .2s ease-in-out;
}

.call-to-action-button:hover {
    cursor: pointer;
    scale: 1.1;
}

a:hover, a:visited, a:link, a:active
{
    color: black;
    text-decoration: none;
}

.call-to-action-deactivated {
    cursor: not-allowed;
    margin-top: 10px;
    background-color: gray;
    padding: 25px;
    font-size: min(2rem, 3vw);
}

.footer-container {
    width: 100%;
}

.finished-clock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.flashing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: normal;
    font-size: 15vw;
    color: red;

    --shadow-color: 46deg 95% 29%;
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px hsl(var(--shadow-color) / 0.34);
    margin-top: 0 !important;
    text-shadow: var(--shadow-elevation-medium);

    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: .1;
    }
}