.navbar {
    height: 7vh;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f6be07;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    margin-right: 10px;
}

.navbar-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
}

.navbar-link :hover {
    font-weight: bolder;
}

.navbar-link-text {
    color: black;
    font-size: 1.3em;
}

.bold {
    font-weight: bold;
}